<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokko.cameandwent.cameandwent" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".CameAndWentApplication"
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".CountDownManager">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="com.tokko.cameandwent.ACTION_COUNTDOWN_TICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".GeofenceReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="GEOFENCE_ACTION" />
                <action android:name="ACTIVATE_GEOFENCE" />
                <action android:name="DEACTIVATE_GEOFENCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReminderScheduler"
            android:enabled="true" >
            <intent-filter>
                <action android:name="ACTION_WEEKLY_REMINDER" />
                <action android:name="ACTION_MONTHLY_REMINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".CameAndWentProvider"
            android:authorities="${applicationId}.CameAndWentProvider"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/fucktardicus"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIwMcd_G_ZG1CmD51BQbSjD3iYwHvj7bXSAw9dJQ" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".locationtags.LocationTagActivity"
            android:parentActivityName=".locationtags.LocationTagActivity" >
            <!-- TODO: restore this to its proper location -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".locationtags.LocationTagActivity" />
        </activity>
    </application>

</manifest>
